<!-- <p>{{telegram.UserName}}</p> -->
<!-- <button (click)="productsService.fetchProducts()">Get Products</button> -->
<input type="text" #filter (input)="productsService.updateFilter(filter.value)">    

    <app-product-list 
    titleList="Уход" 
    subtitleList="Описание категории ухода" 
    [products]="productsService.$products()!"/>

    <!-- <app-product-list 
    title="Уход" 
    subtitle="Описание категории ухода" 
    [products]="productsService.byCategory['уход']"/>

    <app-product-list 
    title="Окрашивание" 
    subtitle="Описание категории окрашивания" 
    [products]="productsService.byCategory['окрашивание']"/>

    <app-product-list 
    title="Аксессуары" 
    subtitle="Описание категории аксессуары" 
    [products]="productsService.byCategory['аксессуары']"/> -->
