<!-- <p>{{telegram.UserName}}</p> -->
<!-- <button (click)="productsService.fetchProducts()">Get Products</button> -->
<!-- <p>{{category}}</p>
<p>{{typeFromRoute}}</p>
<p>{{brandFromRoute}}</p>
<hr>

<p>{{typeSignal()}}</p>
<p>{{brandSignal()}}</p> -->
<app-bread-crumb/>

@if(!productsService.$productCategory()){
  <app-category-list
    titleList="Выберите категорию товара"
    subtitleList=""
    [categories]="productsService.$productCategories()!"
  />
}

@if(!productsService.$productType()){
  @if (productsService.$productCategory()){
  <app-type-list
    titleList="Выберите тип товара"
    subtitleList=""
    [types]="productsService.$productTypes()!"
    [categoryName]="productsService.$productCategory()!.translit"
  />}
}

@if(!productsService.$productBrand()){
  @if (productsService.$productCategory() && productsService.$productType()){
  <app-brand-list
    titleList="Выберите бренд (если необходимо)"
    subtitleList=""
    [brands]="productsService.$productBrands()!"
    [categoryName]="productsService.$productCategory()!.translit"
    [typeName]="productsService.$productType()!.translit"
  />}

}

<!-- @if(!productsService.$productType()){
  <app-type-list
    [types]="productsService.$productTypes()!"
  />
}

@if(!productsService.$productBrand()!){
  <app-brand-list
    [brands]="productsService.$productBrands()!"
  />
}
 -->
 @if (productsService.$productCategory() && productsService.$productType()){

  <mat-form-field appearance="outline">
    <mat-label>Введите строку для поиска</mat-label>
    <input matNativeControl
      #filter
      maxlength="50"
      placeholder="Поиск"
      (input)="productsService.updateFilter(filter.value)"
      autocomplete="off"
      [value]="productsService.$searchFilter()">
      @if(filter.value){<button matSuffix mat-icon-button type="button" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
      </button>}
    <mat-hint>Введите строку для поиска{{filter.value.length}}/50</mat-hint>                                    
</mat-form-field>

  <!-- <input
    type="text"
    #filter
    (input)="productsService.updateFilter(filter.value)"
    [value]="productsService.$searchFilter()"
  /> -->

  <app-product-list 
    titleList=""
    subtitleList=""
    [products]="productsService.$products()!"
  />

  <!-- <app-product-list 
    title="Уход" 
    subtitle="Описание категории ухода" 
    [products]="productsService.byCategory['уход']"/>

    <app-product-list 
    title="Окрашивание" 
    subtitle="Описание категории окрашивания" 
    [products]="productsService.byCategory['окрашивание']"/>

    <app-product-list 
    title="Аксессуары" 
    subtitle="Описание категории аксессуары" 
    [products]="productsService.byCategory['аксессуары']"/> -->


  }
  <!-- <p>chat_id is: {{telegram.Id}}</p>
  <p>Tg is: {{tgString}}</p> -->