<app-bread-crumb />

@if (
  !productsService.$productCategory() &&
  productsService.$productCategories().length > 0
) {
  <app-category-list
    titleList="Выберите категорию товара"
    subtitleList=""
    [categories]="productsService.$productCategories()!"
  />
}

@if (
  !productsService.$productType() && productsService.$productTypes().length > 0
) {
  @if (productsService.$productCategory()) {
    <app-type-list
      titleList="Выберите тип товара"
      subtitleList=""
      [types]="productsService.$productTypes()!"
      [categoryName]="productsService.$productCategory()!.translit"
    />
  }
}

@if (
  !productsService.$productBrand() &&
  productsService.$productBrands().length > 0
) {
  @if (productsService.$productCategory() && productsService.$productType()) {
    <app-brand-list
      titleList="Выберите бренд (если необходимо)"
      subtitleList=""
      [brands]="productsService.$productBrands()!"
      [categoryName]="productsService.$productCategory()!.translit"
      [typeName]="productsService.$productType()!.translit"
    />
  }
}

@if (
  !productsService.$productBrandLine() &&
  productsService.$productBrandLines().length > 0
) {
  @if (
    productsService.$productCategory() &&
    productsService.$productType() &&
    productsService.$productBrand()
  ) {
    <app-brand-line-list
      titleList="Выберите линейку бренда (если необходимо)"
      subtitleList=""
      [brandLines]="productsService.$productBrandLines()!"
      [categoryName]="productsService.$productCategory()!.translit"
      [typeName]="productsService.$productType()!.translit"
      [brandName]="productsService.$productBrand()!.translit"
    />
  }
}

@if (
  !productsService.$productBrandSeries() &&
  productsService.$productBrandSeriesList().length > 0
) {
  @if (
    productsService.$productCategory() &&
    productsService.$productType() &&
    productsService.$productBrand() &&
    productsService.$productBrandLine()
  ) {
    <app-brand-series-list
      titleList="Выберите серию (если необходимо)"
      subtitleList=""
      [brandSeriesList]="productsService.$productBrandSeriesList()!"
      [categoryName]="productsService.$productCategory()!.translit"
      [typeName]="productsService.$productType()!.translit"
      [brandName]="productsService.$productBrand()!.translit"
      [brandLine]="productsService.$productBrandLine()!.translit"
    />
  }
}

<mat-form-field appearance="outline">
  <mat-label>Введите строку для поиска</mat-label>
  <input
    matNativeControl
    #filter
    maxlength="50"
    placeholder="Поиск"
    (input)="productsService.updateFilter(filter.value)"
    autocomplete="off"
    [value]="productsService.$searchFilter()"
  />
  @if (filter.value) {
    <button matSuffix mat-icon-button type="button" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  }
  <mat-hint>Введите строку для поиска {{ filter.value.length }}/50</mat-hint>
</mat-form-field>

@if(productsService.$productIsNewExist())
{
<mat-form-field appearance="outline">
  <mat-label>Показывать только новинки?</mat-label>
  <input
    matNativeControl
    [value]="productsService.$searchFilterIsNew()"
    style="display: none"
  />
  <mat-checkbox
    matNativeControl
    #filterIsNew="ngModel"
    (input)="productsService.updateFilterIsNew(filterIsNew.value)"
    [ngModel]="productsService.$searchFilterIsNew()"
    placeholder="Показывать только новинки?"
    >Показывать только новинки?</mat-checkbox
  >
</mat-form-field>
}

@if (
  (productsService.$productCategory() && productsService.$productType()) ||
  productsService.$searchFilter()
) {
  

  <app-product-list
    titleList=""
    subtitleList=""
    [products]="productsService.$products()!"
  />
}

@if (telegram.isAdmin) {
  <div class="buy-button">
    <button
      mat-flat-button
      matTooltip="Создать новый продукт"
      type="button"
      color="warn" 
      class="mb"
      [routerLink]="'/product/0/new/edit'"
    >
      <mat-icon>add_circle</mat-icon> Создать новый продукт
    </button>
  </div>
  <!-- <mat-divider></mat-divider> -->
  <!-- <p>{{tgString}}</p> -->

  <mat-chip-listbox>
    <mat-chip highlighted (click)="goBack()">Вернуться назад</mat-chip>
  </mat-chip-listbox>
}
