@if (order && !order.id) {
  <h3 class="mb">Новый заказ</h3>
}

@if (order.id) {
  <mat-card appearance="outlined" class="mb">
    <mat-card-header>
      <mat-card-title>Информация о заказе №{{ order.id }}</mat-card-title>
      <mat-card-subtitle>{{ orderStatus() }} </mat-card-subtitle>
      <!-- @if (order.delivery) {
        <mat-card-subtitle
          >Выбрана доставка: {{ order.delivery.name }}
        </mat-card-subtitle>
      }
      @if (order.clientAddress) {
        <mat-card-subtitle
          >Адрес доставки: {{ order.clientAddress }}
        </mat-card-subtitle>
      }
      @if (order.clientName) {
        <mat-card-subtitle
          >Имя покупателя: {{ order.clientName }}
        </mat-card-subtitle>
      }
      @if (order.clientPhone) {
        <mat-card-subtitle
          >тел.покупателя:
          <a mat-button href="{{ 'tel:+7' + order.clientPhone }}" target="_blank"
            >+7{{ order.clientPhone }}</a
          ></mat-card-subtitle
        >
      }
      @if (order.clientTgName) {
        <mat-card-subtitle
          >связаться через Telegram:
          <a mat-button href="{{ 'https://t.me/' + order.clientTgName }}" target="_blank">{{
            "@" + order.clientTgName
          }}</a></mat-card-subtitle
        >
      } -->
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item *ngIf="order.isClientPay">
          <mat-icon matListItemIcon>credit_card</mat-icon>
          <span matListItemTitle>Заказ оплачен online!</span>
          <span matListItemLine>{{
            order.clientPayDate | date: "dd.MM.YYYY HH:mm" : "+05:00"
          }}</span>
        </a>

        <a
          mat-list-item
          *ngIf="order.delivery"
          class="mat-list-item-autoheight"
        >
          <mat-icon matListItemIcon>transfer_within_a_station</mat-icon>
          <span matListItemTitle>{{ order.delivery.name }}</span>
          <span class="no-wrap">
            {{
              order.isAccepted && order.delivery.clientMessage
                ? order.delivery.clientMessage
                : order.delivery.description
            }}
          </span>
        </a>
        <a
          *ngIf="order.clientAddress"
          mat-list-item
          lines="3"
          [href]="'https://yandex.ru/maps/?text=' + order.clientAddress"
          target="_blank"
          class="mat-list-item-autoheight"
        >
          <mat-icon matListItemIcon>location_on</mat-icon>
          <span matListItemTitle>Адрес доставки: </span>
          <span class="no-wrap">{{ order.clientAddress }}</span>
        </a>
        <a
          *ngIf="order.clientPhone"
          mat-list-item
          [href]="'tel:+7' + order.clientPhone"
          target="_blank"
        >
          <mat-icon matListItemIcon>phonelink_ring</mat-icon>
          <span matListItemTitle>{{ order.clientName }}</span>
          <span matListItemLine>+7{{ order.clientPhone }}</span>
        </a>
        <a
          *ngIf="order.clientTgName"
          mat-list-item
          [href]="'https://t.me/' + order.clientTgName"
          target="_blank"
        >
          <mat-icon matListItemIcon>chat</mat-icon>
          <span matListItemTitle>{{ order.clientTgName }}</span>
          <span matListItemLine>Написать в Telegram</span>
        </a>
      </mat-nav-list>

      <!-- <div class="buy-button-x3">
          @if (getVisible('button_cancel')) {
            <button
              mat-button
              color="warn"
              type="button"
              [disabled]="!form.valid || disableButton || !getEnabled('button_cancel')"
              (click)="cancelOrder()"
            >
              <mat-icon>cancel</mat-icon> Отменить
            </button>
          }

          @if (getVisible('button_accept')) {
            <button
              mat-flat-button
              color="primary"
              type="button"
              [disabled]="!form.valid || disableButton || !getEnabled('button_accept')"
              (click)="acceptOrder()"
            >
              <mat-icon>credit_card</mat-icon> Готов к оплате
            </button>
          }

          @if (getVisible('button_complete')) {
            <button
              mat-button
              color="primary"
              type="button"
              [disabled]="!form.valid || disableButton || !getEnabled('button_complete')"
              (click)="completeOrder()"
            >
              <mat-icon>check_circle</mat-icon> Завершить
            </button>
          }
        </div> -->
    </mat-card-content>
  </mat-card>

  <app-contacts></app-contacts>
}

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8 table table-bordered table-striped table-hover mb"
>
  <!-- <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element?.product?.id}} </td>
    </ng-container> -->
  <ng-container matColumnDef="imageUrl">
    <th
      mat-header-cell
      *matHeaderCellDef
      style="width: 20%"
      class="align-middle"
    >
      <strong>Рис.</strong>
    </th>
    <td mat-cell *matCellDef="let element" class="align-middle">
      <img
        mat-card-image
        [src]="element.product.imageUrl"
        [alt]="element.product.name"
        [title]="element.product.name"
        class="order-item-image"
      />
      <!-- <a
        [routerLink]="
          '/product/' + element.product.id + '/' + element.product.translit
        "
      >
      </a> -->
    </td>
    <td mat-footer-cell *matFooterCellDef><strong>Итого: </strong></td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th
      mat-header-cell
      *matHeaderCellDef
      style="width: 60%"
      class="align-middle"
    >
      <strong>Название</strong>
    </th>
    <td mat-cell *matCellDef="let element" class="align-middle">
      <p>
        {{ element.product?.name }}
        {{
          element.product?.artikul
            ? "; арт.: " + element.product?.artikul
            : "" + ";"
        }}
      </p>
      <p>
        <span>{{ element.quantity }} шт. </span>
        @if (element.product.discount == 0) {
          <span>
            по
            {{ element.product.price | currency: "RUB" : "symbol-narrow" }}
            @if (element.quantity > 1) {
              Итого:
              {{
                element.quantity * element.product.price
                  | currency: "RUB" : "symbol-narrow"
              }}
            }
          </span>
        }
        @if (element.product.discount > 0) {
          <span>
            по
            <s>{{
              element.product.price | currency: "RUB" : "symbol-narrow"
            }}</s>
            {{
              (element.product.price / 100) * (100 - element.product.discount)
                | currency: "RUB" : "symbol-narrow"
            }}
            @if (element.quantity > 1) {
              Итого:
              {{
                element.quantity *
                  (element.product.price / 100) *
                  (100 - element.product.discount)
                  | currency: "RUB" : "symbol-narrow"
              }}
            }
          </span>
        }
      </p>
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ order.totalCount }} шт. на
      {{ order.totalAmount | currency: "RUB" : "symbol-narrow" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="ActionBar">
    <th
      mat-header-cell
      *matHeaderCellDef
      style="width: 20%"
      class="align-middle p-1"
    >
      @if (getVisible("button_items_add")) {
        <button
          mat-icon-button
          matTooltip="Добавить продукт"
          type="button"
          [disabled]="!getEnabled('button_items_add')"
          (click)="addProduct()"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      }
    </th>
    <td mat-cell *matCellDef="let element" class="align-middle p-1">
      @if (getVisible("button_items_replace")) {
        <button
          mat-icon-button
          matTooltip="Заменить продукт"
          type="button"
          [disabled]="!getEnabled('button_items_replace')"
          (click)="openDialog(element)"
        >
          <mat-icon>find_replace</mat-icon>
        </button>
      }
      @if (getVisible("button_items_remove")) {
        <button
          mat-icon-button
          matTooltip="Удалить продукт"
          type="button"
          [disabled]="!getEnabled('button_items_remove')"
          (click)="removeProduct(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      }
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="Loading">
    <td
      mat-footer-cell
      *matFooterCellDef
      colspan="6"
      class="font-italic text-center p-1"
    >
      Идет загрузка данных...
    </td>
  </ng-container>
  <ng-container matColumnDef="NoData">
    <td
      mat-footer-cell
      *matFooterCellDef
      colspan="6"
      class="font-italic text-center p-1"
    >
      У вас пока не создано ни одной записи.
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr
    mat-footer-row
    *matFooterRowDef="['Loading']"
    [ngClass]="{ hide: order.items != null }"
  ></tr>
  <tr
    mat-footer-row
    *matFooterRowDef="['NoData']"
    [ngClass]="{ hide: !(order.items != null && order.items.length == 0) }"
  ></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>

<form [formGroup]="form" (ngSubmit)="sendData()">
  <mat-form-field appearance="outline" *ngIf="getVisible('delivery')">
    <mat-label>Выберите доставку</mat-label>
    <input
      *ngIf="!getVisible('delivery')"
      matInput
      formControlName="delivery"
      [readonly]="true"
    />
    <mat-select
      formControlName="delivery"
      (selectionChange)="deliveryChange($event.value)"
      [compareWith]="compareFunction"
      *ngIf="getVisible('delivery')"
    >
      <mat-option
        *ngFor="let delivery of deliveryService.$delivery()"
        [value]="delivery"
        [disabled]="!delivery.isActive"
      >
        <strong>
          {{ delivery.name }}
          {{
            delivery.amount == 0
              ? " (бесплатно)"
              : "(" +
                (delivery.amount | currency: "RUB" : "symbol-narrow") +
                ")"
          }}</strong
        ><br />
        {{
          delivery.freeAmount > 0
            ? delivery.description +
              " бесплатно при сумме заказа больше, чем " +
              (delivery.freeAmount | currency: "RUB" : "symbol-narrow")
            : delivery.description
        }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('delivery')!.hasError('required')">
      Необходимо выбрать доставку
    </mat-error>
  </mat-form-field>

  @if (order.delivery.isAddressRequired) {
    <mat-form-field appearance="outline">
      <mat-label>Введите адрес доставки</mat-label>
      <textarea
        matInput
        matNativeControl
        cdkTextareaAutosize
        formControlName="clientAddress"
        #clientAddress
        maxlength="500"
        placeholder="Введите адрес доставки"
        [matAutocomplete]="autoClientAddress"
        (ngModelChange)="clientAddressChanging(clientAddress.value)"
      ></textarea>
      @if (clientAddress.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('clientAddress')"
          (click)="onClientAddressClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end"
        >Введите адрес доставки {{ clientAddress.value.length }}/500</mat-hint
      >
      <mat-error *ngIf="form.get('clientAddress')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('clientAddress')?.hasError('maxlength')"
        >Максимум 500 символов</mat-error
      >
    </mat-form-field>
    <mat-autocomplete
      #autoClientAddress="matAutocomplete"
      (optionSelected)="clientAddressChanged()"
    >
      @for (option of ClientAddressOptionsJSON; track $index) {
        <mat-option [value]="option.value">{{ option.value }}</mat-option>
      }
      <!-- <mat-option
      *ngFor="let option of ClientAddressOptionsJSON; let i = index"
      [value]="option.value"
      >{{ option.value }}</mat-option
    > -->
    </mat-autocomplete>
  }

  <mat-form-field appearance="outline" *ngIf="getVisible('clientName')">
    <mat-label>Введите ваше имя</mat-label>
    <input
      matNativeControl
      formControlName="clientName"
      #clientName
      placeholder="Введите ваше имя"
      [readonly]="!getEnabled('clientName')"
    />
    @if (clientName.value) {
      <button
        matSuffix
        mat-icon-button
        type="button"
        [disabled]="!getEnabled('clientName')"
        (click)="onClientNameClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-hint align="end"
      >Введите ваше имя {{ clientName.value.length }}/50</mat-hint
    >
    <mat-error *ngIf="form.get('clientName')?.hasError('required')"
      >Это обязательное поле</mat-error
    >
    <mat-error *ngIf="form.get('clientName')?.hasError('minlength')"
      >Минимум 2 символа</mat-error
    >
    <mat-error *ngIf="form.get('clientName')?.hasError('maxlength')"
      >Максимум 50 символов</mat-error
    >
    <mat-error
      *ngIf="
        !form.get('clientName')?.hasError('minlength') &&
        !form.get('clientName')?.hasError('maxlength') &&
        form.get('clientName')?.hasError('pattern')
      "
      >Некорректное значение, разрешено использование букв, цифр, символов - и
      _</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="getVisible('clientTgName')">
    <mat-label>Введите Telegram</mat-label>
    <input
      matNativeControl
      formControlName="clientTgName"
      [readonly]="!getEnabled('clientTgName')"
      #clientTgName
      placeholder="Введите Telegram"
    />
    @if (clientTgName.value && order.id > 0) {
      <button
        matSuffix
        mat-icon-button
        type="button"
        [disabled]="!getEnabled('clientTgName')"
        (click)="onClientTgNameClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-hint align="end"
      >Введите Telegram {{ clientTgName.value.length }}/50</mat-hint
    >
    <mat-error *ngIf="form.get('clientTgName')?.hasError('required')"
      >Это обязательное поле</mat-error
    >
    <mat-error *ngIf="form.get('clientTgName')?.hasError('minlength')"
      >Минимум 2 символа</mat-error
    >
    <mat-error *ngIf="form.get('clientTgName')?.hasError('maxlength')"
      >Максимум 50 символов</mat-error
    >
    <mat-error
      *ngIf="
        !form.get('clientTgName')?.hasError('minlength') &&
        !form.get('clientTgName')?.hasError('maxlength') &&
        form.get('clientTgName')?.hasError('pattern')
      "
      >Некорректное значение, разрешено использование букв, цифр, символов - и
      _</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="getVisible('clientTgChatId')">
    <mat-label>Введите Telegram ChatId</mat-label>
    <input
      matNativeControl
      formControlName="clientTgChatId"
      [readonly]="!getEnabled('clientTgChatId')"
      #clientTgChatId
      placeholder="Введите Telegram ChatId"
    />
    @if (clientTgChatId.value && order.id > 0) {
      <button
        matSuffix
        mat-icon-button
        type="button"
        [disabled]="!getEnabled('clientTgChatId')"
        (click)="onClientTgChatIdClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-hint align="end"
      >Введите Telegram ChatId {{ clientTgChatId.value.length }}/50</mat-hint
    >
    <mat-error *ngIf="form.get('clientTgChatId')?.hasError('required')"
      >Это обязательное поле</mat-error
    >
    <mat-error *ngIf="form.get('clientTgChatId')?.hasError('minlength')"
      >Минимум 2 символа</mat-error
    >
    <mat-error *ngIf="form.get('clientTgChatId')?.hasError('maxlength')"
      >Максимум 50 символов</mat-error
    >
    <mat-error
      *ngIf="
        !form.get('clientTgChatId')?.hasError('minlength') &&
        !form.get('clientTgChatId')?.hasError('maxlength') &&
        form.get('clientTgChatId')?.hasError('pattern')
      "
      >Некорректное значение, разрешено использование цифр _</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="getVisible('clientPhone')">
    <mat-label>Номер сотового телефона (10 цифр)</mat-label>
    <input
      matNativeControl
      formControlName="clientPhone"
      #clientPhone
      placeholder="Номер сотового телефона (10 цифр)"
      [dropSpecialCharacters]="true"
      mask="(000) 000-00-00"
      [readonly]="!getEnabled('clientPhone')"
    />
    @if (clientPhone.value) {
      <button
        matSuffix
        mat-icon-button
        type="button"
        [disabled]="!getEnabled('clientPhone')"
        (click)="onClientPhoneClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-hint align="end"
      >Номер сотового телефона (10 цифр)
      {{
        clientPhone.value
          .slice()
          .replace("(", "")
          .replace(")", "")
          .replace(" ", "")
          .replace("-", "")
          .replace("-", "").length
      }}/10</mat-hint
    >
    <mat-error *ngIf="form.get('clientPhone')?.hasError('required')"
      >Это обязательное поле</mat-error
    >
    <mat-error *ngIf="form.get('clientPhone')?.hasError('pattern')"
      >Некорректное значение</mat-error
    >
    <mat-error *ngIf="form.get('clientPhone')?.hasError('minlength')"
      >Минимум 10 цифр</mat-error
    >
    <mat-error *ngIf="form.get('clientPhone')?.hasError('maxlength')"
      >Максимум 10 цифр</mat-error
    >
  </mat-form-field>

  <!-- <button
    mat-raised-button
    color="accent"
    [disabled]="!form.valid || disableButton"
    type="submit"
  >
    Submit
  </button> -->

  <mat-form-field appearance="outline" *ngIf="getVisible('correctionReason')">
    <mat-label>Причина корректировки заказа</mat-label>
    <textarea
      matInput
      matNativeControl
      cdkTextareaAutosize
      formControlName="correctionReason"
      #correctionReason
      maxlength="500"
      placeholder="Причина корректировки заказа"
      [readonly]="!getEnabled('correctionReason')"
    >
    </textarea>
    @if (correctionReason.value) {
      <button
        matSuffix
        mat-icon-button
        type="button"
        [disabled]="!getEnabled('correctionReason')"
        (click)="onCorrectionReasonClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-hint align="end"
      >Причина корректировки заказа
      {{ correctionReason.value.length }}/500</mat-hint
    >
    <mat-error *ngIf="form.get('correctionReason')?.hasError('required')"
      >Это обязательное поле</mat-error
    >
    <mat-error *ngIf="form.get('correctionReason')?.hasError('maxlength')"
      >Максимум 500 символов</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="getVisible('description')">
    <mat-label>Служебная информация</mat-label>
    <textarea
      matInput
      matNativeControl
      cdkTextareaAutosize
      formControlName="description"
      #description
      maxlength="500"
      placeholder="Служебная информация"
      [readonly]="!getEnabled('description')"
    >
    </textarea>
    @if (description.value) {
      <button
        matSuffix
        mat-icon-button
        type="button"
        [disabled]="!getEnabled('description')"
        (click)="onDescriptionClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-hint align="end"
      >Служебная информация {{ description.value.length }}/500</mat-hint
    >
    <mat-error *ngIf="form.get('description')?.hasError('required')"
      >Это обязательное поле</mat-error
    >
    <mat-error *ngIf="form.get('description')?.hasError('maxlength')"
      >Максимум 500 символов</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="getVisible('cancellationReason')">
    <mat-label>Причина отмены заказа</mat-label>
    <textarea
      matInput
      matNativeControl
      cdkTextareaAutosize
      formControlName="cancellationReason"
      #cancellationReason
      maxlength="500"
      placeholder="Причина отмены заказа"
      [readonly]="!getEnabled('cancellationReason')"
    >
    </textarea>
    @if (cancellationReason.value) {
      <button
        matSuffix
        mat-icon-button
        type="button"
        [disabled]="!getEnabled('cancellationReason')"
        (click)="onCancellationReasonClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-hint align="end"
      >Причина отмены заказа {{ cancellationReason.value.length }}/500</mat-hint
    >
    <mat-error *ngIf="form.get('cancellationReason')?.hasError('required')"
      >Это обязательное поле</mat-error
    >
    <mat-error *ngIf="form.get('cancellationReason')?.hasError('maxlength')"
      >Максимум 500 символов</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="getVisible('isAgeePersonalData')">
    <mat-label>Согласие на обработку ПД</mat-label>
    <input
      style="display: none"
      matNativeControl
      formControlName="isAgeePersonalData"
      [required]="order.id == 0"
      [readonly]="!getEnabled('isAgeePersonalData')"
    />
    <mat-checkbox
      formControlName="isAgeePersonalData"
      #isAgeePersonalData
      placeholder="Согласие на обработку ПД"
      [required]="order.id == 0"
      >Согласие на обработку персональных данных</mat-checkbox
    >
    <mat-error *ngIf="form.get('isAgeePersonalData')?.hasError('required')"
      >Необходимо ваше согласие</mat-error
    >
  </mat-form-field>

  <h3 *ngIf="order.id == 0">
    Ознакомиться с политикой в отношении обработки персональных данных можно
    <a target="_blank" routerLink="/company/privacy/">по ссылке</a>
  </h3>

  <!-- <mat-nav-list>
    <a *ngIf="order.id > 0 && !getVisible('button_accept') && telegramService.isAdmin && !order.isAccepted && !order.isCompleted  && !order.isCancelled" mat-list-item [routerLink]="'/order/' + order!.id+'/accept'">
      <mat-icon matListItemIcon>attach_money</mat-icon>
      <span matListItemTitle>Готовы подтвердить заказ?</span>
      <span matListItemLine>перейдите по ссылке</span>
    </a>          
    <a *ngIf="order.id > 0 && !getVisible('button_submit') && telegramService.isAdmin && !order.isAccepted && !order.isCompleted  && !order.isCancelled" mat-list-item [routerLink]="'/order/' + order!.id+'/edit'">
      <mat-icon matListItemIcon>edit</mat-icon>
      <span matListItemTitle>Изменить данные в заказе?</span>
      <span matListItemLine>перейдите по ссылке</span>
    </a>
    <a *ngIf="order.id > 0 && !getVisible('button_cancel') && !order.isCompleted  && !order.isCancelled" mat-list-item [routerLink]="'/order/' + order!.id+'/cancel'">
      <mat-icon matListItemIcon>remove_shopping_cart</mat-icon>
      <span matListItemTitle>Отменить заказ?</span>
      <span matListItemLine>перейдите по ссылке</span>
    </a>
    <a *ngIf="order.id > 0 && !getVisible('button_complete') && telegramService.isAdmin && order.isAccepted && !order.isCompleted  && !order.isCancelled" mat-list-item [routerLink]="'/order/' + order!.id+'/complete'">
      <mat-icon matListItemIcon>done</mat-icon>
      <span matListItemTitle>Завершить заказ?</span>
      <span matListItemLine>перейдите по ссылке</span>
    </a>
  </mat-nav-list> -->

  @if (totalAmountOrder > 0) {
    <h3>
      Итого заказ на {{ totalAmountOrder | currency: "RUB" : "symbol-narrow" }}
    </h3>
  }

  @if (MainButtonText) {
    <p>{{ MainButtonText }}</p>
  }

  @if (!telegramService.IsTelegramWebAppOpened) {
  <div class="buy-button pb">
    <!-- @if (order.id == 0 || telegramService.isAdmin) { -->

    @if (getVisible("button_submit")) {
      <button
        mat-flat-button
        [disabled]="
          !form.valid || disableButton || !getEnabled('button_submit')
        "
        color="accent"
        type="submit"
      >
        @if (order.id == 0) {
          Отправить в PROКРАСОТУ
        }
        @if (order.id > 0) {
          Обновить данные
        }
      </button>
    }

    <!-- @if (order.id > 0 && !telegramService.isAdmin) { -->
    @if (getVisible("button_close")) {
      <button
        mat-flat-button
        color="accent"
        type="button"
        (click)="closeForm()"
        routerLink="/"
      >
        Закрыть
      </button>
    }

    @if (getVisible("button_cancel")) {
      <button
        mat-flat-button
        color="warn"
        type="button"
        [disabled]="
          !form.valid || disableButton || !getEnabled('button_cancel')
        "
        (click)="cancelOrder()"
      >
        <mat-icon>cancel</mat-icon> Отменить
      </button>
    }

    @if (getVisible("button_accept")) {
      <button
        mat-flat-button
        color="primary"
        type="button"
        [disabled]="
          !form.valid || disableButton || !getEnabled('button_accept')
        "
        (click)="acceptOrder()"
      >
        <mat-icon>credit_card</mat-icon>
        @if (order.delivery.isAddressRequired) {
          Отправлен в доставку
        }
        @if (!order.delivery.isAddressRequired) {
          Готов к выдаче
        }
      </button>
    }

    @if (getVisible("button_complete")) {
      <button
        mat-button
        color="primary"
        type="button"
        [disabled]="
          !form.valid || disableButton || !getEnabled('button_complete')
        "
        (click)="completeOrder()"
      >
        <mat-icon>check_circle</mat-icon> Завершить
      </button>
    }
  </div>
  }
</form>
