<mat-chip-listbox>
    <mat-chip highlighted routerLink="/shop/">КАТАЛОГ</mat-chip>
    
@if (
  productsService.$productCategory()?.name ||
  productsService.$productType()?.name ||
  productsService.$productBrand()?.name ||
  productsService.$productBrandLine()?.name ||
  productsService.$productBrandSeries()?.name
) {
    @if (productsService.$productCategory()?.name) {
      <mat-chip highlighted color="primary" routerLink="/shop">{{
        productsService.$productCategory()?.name | uppercase
      }}
      <button matChipRemove routerLink="/shop">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    }
    @if (productsService.$productType()?.name) {
      <mat-chip highlighted color="accent" [routerLink]="'/shop/'+productsService.$productType()?.category?.translit">{{
        productsService.$productType()?.name | uppercase
      }}
      <button matChipRemove [routerLink]="'/shop/'+productsService.$productType()?.category?.translit">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    }
    @if (productsService.$productBrand()?.name) {
      <mat-chip highlighted color="warn" [routerLink]="'/shop/'+productsService.$productType()?.category?.translit+'/'+productsService.$productType()?.translit">{{
        productsService.$productBrand()?.name | uppercase
      }}
      <button matChipRemove [routerLink]="'/shop/'+productsService.$productType()?.category?.translit+'/'+productsService.$productType()?.translit">
        <mat-icon>cancel</mat-icon>
      </button>
      </mat-chip>
    }
    @if (productsService.$productBrandLine()?.name) {
      <mat-chip highlighted color="primary" [routerLink]="'/shop/'+productsService.$productType()?.category?.translit+'/'+productsService.$productType()?.translit+'/'+productsService.$productBrand()?.translit">{{
        productsService.$productBrandLine()?.name | uppercase
      }}
      <button matChipRemove [routerLink]="'/shop/'+productsService.$productType()?.category?.translit+'/'+productsService.$productType()?.translit+'/'+productsService.$productBrand()?.translit">
        <mat-icon>cancel</mat-icon>
      </button>
      </mat-chip>
    }
    
    @if (productsService.$productBrandSeries()?.name) {
      <mat-chip highlighted color="primary" [routerLink]="'/shop/'+productsService.$productType()?.category?.translit+'/'+productsService.$productType()?.translit+'/'+productsService.$productBrand()?.translit+'/'+productsService.$productBrandLine()?.translit">{{
        productsService.$productBrandSeries()?.name | uppercase
      }}
      <button matChipRemove [routerLink]="'/shop/'+productsService.$productType()?.category?.translit+'/'+productsService.$productType()?.translit+'/'+productsService.$productBrand()?.translit+'/'+productsService.$productBrandLine()?.translit">
        <mat-icon>cancel</mat-icon>
      </button>
      </mat-chip>
    }
 
}
</mat-chip-listbox>