<h2 class="mb">{{ titleList | uppercase }}</h2>
<h4 class="mb">{{ subtitleList | uppercase }}</h4>




@for (deliveryItem of deliveryList; track $index) {
  @if (deliveryItem.isActive) {
    <p>
      {{($index+1)+') '}}
      <b>
        {{deliveryItem.name}}:
      </b>
      @if(deliveryItem.amount==0){
        бесплатно
      }
      @if(deliveryItem.amount>0){
        {{
          " стоимость " +
            (deliveryItem.amount | currency: "RUB" : "symbol-narrow") +
            ""
        }}
        @if(deliveryItem.freeAmount >0)
        {
          {{
            " бесплатно при заказе от " +
              (deliveryItem.freeAmount | currency: "RUB" : "symbol-narrow") +
              ""
          }}  
        }
      }
    </p>
  }
  }

  @if(telegramService.isAdmin){
    <mat-divider></mat-divider><br />
    <mat-divider></mat-divider><br />
    <mat-divider></mat-divider><br />
    <mat-divider></mat-divider><br />
    <mat-divider></mat-divider><br />
    <mat-divider></mat-divider><br />
    <h3>
      <mat-icon color="accent">warning</mat-icon>
      Внимание, редактирование доставки доступно только для администратора. Меняйте
      информацию с умом.
    </h3>
    <mat-card appearance="outlined" class="mb">
      <mat-card-content>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef><strong>ПРЕДЛАГАЕТ СЛЕДУЮЩИЕ ВАРИАНТЫ ДОСТАВКИ</strong></th>
            <td mat-cell *matCellDef="let element">
              
                  @if (element.isActive) {
                    <mat-icon>visibility</mat-icon>
                  }
                  @if (!element.isActive) {
                    <mat-icon color="warn">visibility_off</mat-icon>
                  }
                  <b>
                    {{element.name}}:
                  </b>
                  @if(element.amount==0){
                    бесплатно
                  }
                  @if(element.amount>0){
                    {{
                      " стоимость " +
                        (element.amount | currency: "RUB" : "symbol-narrow") +
                        ""
                    }}
                    @if(element.freeAmount >0)
                    {
                      {{
                        " бесплатно при заказе от " +
                          (element.freeAmount | currency: "RUB" : "symbol-narrow") +
                          ""
                      }}  
                    }
                  }
                <!-- @if (element.isActive) {
                  <mat-icon>visibility</mat-icon>
                }
                @if (!element.isActive) {
                  <mat-icon color="warn">visibility_off</mat-icon>
                }
                @for (colName of displayedColumns; track $index) {
                  {{ element.keyValues[$index] + " " }}
                }
                {{
                  " (" +
                    (element.price | currency: "RUB" : "symbol-narrow") +
                    ")"
                }} -->
            </td>
          </ng-container>
    
          <ng-container matColumnDef="ActionBar">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="width: 20%"
              class="align-middle p-1"
            >
            
              <button
                mat-icon-button
                matTooltip="Добавить"
                type="button"
                [routerLink]="'/delivery/0/edit'"
                color="primary">
                <mat-icon>add_circle</mat-icon>
              </button>
            </th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              class="align-middle p-1"
            >
              <button
                mat-icon-button
                matTooltip="Редактировать"
                color="primary"
                [routerLink]="'/delivery/'+element.id+'/edit'"
                type="button">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
    
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        
      </mat-card-content>
    </mat-card>
  }