
    <mat-card appearance="outlined" class="mb">
        <mat-card-header>
            <mat-card-title>{{ data.message }}</mat-card-title>
            <mat-card-subtitle>{{data.description}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
            <div class="buy-button-x3">
              @if(data.showCancelButton!=false){
                <button mat-icon-button color="warn" type="button" (click)="dialogRef.close(false)">
                  <mat-icon >cancel</mat-icon>  
                </button>
              }
                <button mat-icon-button color="primary" type="button" (click)="dialogRef.close(true)">
                    <mat-icon >check_circle</mat-icon> 
                  </button>
            </div>
        </mat-card-actions>
    </mat-card>