<mat-card appearance="outlined" class="mb">
  <mat-card-header>
    <img
      mat-card-avatar
      [src]="cartItem.product.imageUrl"
      [alt]="cartItem.product.name"
    />
    <!-- <div class="flex-fill"></div> -->

    <!-- <mat-card-title>{{ cartItem.product.name }}</mat-card-title> -->
    <mat-card-subtitle>{{ cartItem.product.name }}</mat-card-subtitle>
    <mat-card-subtitle>
      <span>{{ cartItem.quantity }} шт. </span>
      @if (cartItem.product.discount == 0) {
        <span>
          по
          {{ cartItem.product.price | currency: "RUB" : "symbol-narrow" }}
          @if(cartItem.quantity>1) 
          {
            Итого:
            {{
            cartItem.quantity * cartItem.product.price
              | currency: "RUB" : "symbol-narrow"
            }}
          }
          </span
        >
      }
      @if (cartItem.product.discount > 0) {
        <span>
          по
          <s>{{
            cartItem.product.price | currency: "RUB" : "symbol-narrow"
          }}</s>
          {{
            (cartItem.product.price / 100) * (100 - cartItem.product.discount)
              | currency: "RUB" : "symbol-narrow"
          }}
          @if(cartItem.quantity>1) 
          {
          Итого:
            {{
            cartItem.quantity *
              (cartItem.product.price / 100) *
              (100 - cartItem.product.discount)
              | currency: "RUB" : "symbol-narrow"
            }}
          }</span
        >
      }
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <div class="buy-button-x3">
    @if(cartItem.checked){
      <button mat-icon-button (click)="checkedChange()">
        <mat-icon>check_box</mat-icon>
      </button>
    }
    @if(!cartItem.checked){
      <button mat-icon-button (click)="checkedChange()">
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
    }
    <button mat-icon-button (click)="removeItem()">
        <mat-icon>remove</mat-icon>
      </button>

      @if(quantityInCart(cartItem.product) > 0){
        <mat-icon
          [attr.aria-hidden]="false" aria-hidden="false"
          matBadgeColor="accent"
          [matBadge]="quantityInCart(cartItem.product)"
          >shopping_cart</mat-icon>
      }
      @if(quantityInCart(cartItem.product) == 0){
        <mat-icon>shopping_cart</mat-icon>
      }

      <!-- <button mat-icon-button routerLink="/cart">
        <mat-icon
          matBadgeColor="accent"
          [matBadgeHidden]="quantityInCart(cartItem.product) == 0"
          [matBadge]="quantityInCart(cartItem.product)"
          >shopping_cart</mat-icon
        >
      </button> -->
      <button mat-icon-button color="accent" (click)="addItem()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
