<!-- @if (product.category != "" || product.type != "" || product.brand != "") {
  <mat-chip-listbox>
    @if (product.category != "") {
      <mat-chip highlighted color="primary">{{ product.category }}</mat-chip>
    }
    @if (product.type != "") {
      <mat-chip highlighted color="accent">{{ product.type }}</mat-chip>
    }
    @if (product.brand != "") {
      <mat-chip highlighted color="warn">{{ product.brand }}</mat-chip>
    }
  </mat-chip-listbox>
} -->

<div class="responsive-grid-product-item">
  <mat-card appearance="outlined" class="product-item mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ product.brand }}
        @if (product.artikul) {
          арт.:{{ product.artikul }}
        }
      </mat-card-subtitle>
    </mat-card-header>

    @if (product.imageUrl != "") {
      <div class="product-image-host">
        <img
          mat-card-image
          [src]="product.imageUrl"
          [alt]="product.description"
          [title]="product.name"
          class="product-item-image"
        />
      </div>
    }

    <mat-card-content>
      @if (product.price! > 0) {
        <div class="buy-button pb">
          @if (product.discount == 0) {
            <button mat-flat-button (click)="addItem()" color="primary">
              В корзину за
              {{ product.price | currency: "RUB" : "symbol-narrow" }}
            </button>
          }
          @if (product.discount > 0) {
            <button
              mat-flat-button
              matBadge="%"
              matBadgeSize="large"
              matBadgePosition="after"
              matBadgeColor="accent"
              (click)="addItem()"
              color="primary"
            >
              В корзину за
              <s>{{ product.price | currency: "RUB" : "symbol-narrow" }}</s>
              {{
                (product.price / 100) * (100 - product.discount)
                  | currency: "RUB" : "symbol-narrow"
              }}
            </button>
          }
        </div>
      }
      <!-- @if (product.name != "") {
        <p>{{ product.name }}</p>
      } -->
      @if (product.description != "") {
        <p>{{ product.description }}</p>
      }
      @if (product.dopolnitelno != "") {
        <p>{{ product.dopolnitelno }}</p>
      }

      @if (product.url) {
        <a [href]="product.url" target="_blank">Ссылка на сайт производителя</a>
      }

      <mat-divider></mat-divider>

      <!-- @if (isInCart(product)){

        <mat-grid-list cols="8" >
          <mat-grid-tile>
            <button mat-icon-button color="accent" (click)="addItem()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-grid-tile>
          <mat-grid-tile  >
            <button mat-button color="primary">
              {{quantityInCart(product)}}
            </button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-icon-button (click)="removeItem()">
              <mat-icon>remove</mat-icon>
            </button>
          </mat-grid-tile> 
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile  colspan="4">
            <div class="buy-button">
              <button mat-flat-button color="primary" routerLink="/cart">
                <mat-icon>arrow_forward_ios</mat-icon> Корзина
              </button>
            </div>  
          </mat-grid-tile>       
        </mat-grid-list>
        
        
      } 
      @if (!isInCart(product)){
        <mat-grid-list cols="6" >
          <mat-grid-tile colspan="6">
            <div class="buy-button">
              <button mat-flat-button color="primary" (click)="addItem()">
                В корзину
              </button>
            </div>          
          </mat-grid-tile>    
        </mat-grid-list>    
      } -->

      <!-- <mat-grid-list cols="6" rowHeight="52px">
        <mat-grid-tile colspan="6">
          <button mat-button color="accent">
            {{ product.price | currency: "RUB" : "symbol-narrow" }}
          </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <button mat-icon-button color="accent">
            <mat-icon>add</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">2</mat-grid-tile>
        <mat-grid-tile colspan="2">
          <button mat-icon-button color="accent">
            <mat-icon>remove</mat-icon>
          </button></mat-grid-tile
        >

        
        <mat-grid-tile colspan="6"
          ><button mat-raised-button color="accent">
            <mat-icon>shopping_basket</mat-icon> В корзину
          </button>
        </mat-grid-tile>
      </mat-grid-list> -->
    </mat-card-content>
    <mat-card-actions>
      @if (isInCart(product)) {
        <div class="buy-button-x3">
          <button mat-icon-button (click)="removeItem()">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-icon-button routerLink="/cart">
            <mat-icon matBadgeColor="accent" [matBadgeHidden] = "quantityInCart(product) == 0" [matBadge]="quantityInCart(product)">shopping_cart</mat-icon>           
          </button>
          <button mat-icon-button color="accent" (click)="addItem()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      }
      @if (!isInCart(product)) {
        <div class="buy-button">
          <button mat-flat-button color="primary" (click)="addItem()">
            В корзину
          </button>
        </div>
      }
    </mat-card-actions>
  </mat-card>

  <!-- <mat-card appearance="outlined" class="product-item mat-elevation-z5">
    <mat-card-content> -->
  <!-- @if (product.description != "") {
        <p>{{ product.description }}</p>
      }
      @if (product.dopolnitelno != "") {
        <p>{{ product.dopolnitelno }}</p>
      }
      @if (product.description != "" || product.dopolnitelno != "") {
        <mat-divider></mat-divider>
      } -->

  <!-- <mat-grid-list cols="6" rowHeight="52px">
        <mat-grid-tile colspan="2">
          <button mat-button color="accent">
            {{ product.price | currency: "RUB" : "symbol-narrow" }}
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-icon-button color="accent">
            <mat-icon>add</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">2</mat-grid-tile>
        <mat-grid-tile>
          <button mat-icon-button color="accent">
            <mat-icon>remove</mat-icon>
          </button></mat-grid-tile
        >

        <mat-grid-tile colspan="2">
          
        </mat-grid-tile>
        <mat-grid-tile colspan="4"
          ><button mat-raised-button color="accent">
            <mat-icon>shopping_basket</mat-icon> В корзину
          </button>
        </mat-grid-tile>
      </mat-grid-list> -->
  <!-- </mat-card-content>
  </mat-card> -->
</div>
