<div class="responsive-grid-product-item mb">
  <mat-card appearance="outlined" class="product-item mat-elevation-z5">
    <mat-card-header>
      <mat-card-title
        >{{ product.name
        }}<app-share-buttons
          [url]="getUrl()"
          [title]="product.name"
          [description]="product.name"
        ></app-share-buttons
      ></mat-card-title>
      <mat-card-subtitle
        >{{ product.brand }}
        @if (product.artikul) {
          арт.:{{ product.artikul }}
        }
      </mat-card-subtitle>
    </mat-card-header>

    @if (product.imageUrl != "") {
      <div class="product-image-host">
        <img
          mat-card-image
          [src]="product.imageUrl"
          [alt]="product.description"
          [title]="product.name"
          class="product-item-image"
        />
      </div>
    }

    <mat-card-content>
      @if (product.price! > 0) {
        <p>Цена действительна только для интернет-магазина и может отличаться от цен в розничных магазинах</p>
        <div class="buy-button pb">
          @if (product.discount == 0) {
            <button mat-flat-button (click)="addItem()" color="primary">
              В корзину за
              {{ product.price | currency: "RUB" : "symbol-narrow" }}
            </button>
          }
          @if (product.discount > 0) {
            <button
              mat-flat-button
              matBadge="%"
              matBadgeSize="large"
              matBadgePosition="after"
              matBadgeColor="accent"
              (click)="addItem()"
              color="primary"
            >
              В корзину за
              <s>{{ product.price | currency: "RUB" : "symbol-narrow" }}</s>
              {{
                (product.price / 100) * (100 - product.discount)
                  | currency: "RUB" : "symbol-narrow"
              }}
            </button>
          }
        </div>
      }
      @if (product.description != "") {
        <p class="pre-line">{{ product.description }}</p>
      }
      @if (product.dopolnitelno != "") {
        <p class="pre-line">{{ product.dopolnitelno }}</p>
      }

      @if (product.url && telegramService.isAdmin) {
        <a [href]="product.url" target="_blank">Ссылка на сайт производителя</a>
      }
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      @if (isInCart(product)) {
        <div class="buy-button-x3">
          <button mat-icon-button (click)="removeItem()">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-icon-button routerLink="/cart">
            
          @if(quantityInCart(product) > 0){
            <mat-icon
              [attr.aria-hidden]="false" aria-hidden="false"
              matBadgeColor="accent"
              [matBadge]="quantityInCart(product)"
              >shopping_cart</mat-icon>
          }
          @if(quantityInCart(product) == 0){
            <mat-icon>shopping_cart</mat-icon>
          }
<!--           
            <mat-icon
              matBadgeColor="accent"
              [matBadgeHidden]="quantityInCart(product) == 0"
              [matBadge]="quantityInCart(product)"
              >shopping_cart</mat-icon
            > -->
          </button>
          <button mat-icon-button color="accent" (click)="addItem()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      }
      @if (!isInCart(product)) {
        <div class="buy-button">
          <button mat-flat-button color="primary" (click)="addItem()">
            В корзину
          </button>
        </div>
      }
    </mat-card-actions>
  </mat-card>
</div>

@if (telegramService.isAdmin) {
  <mat-divider></mat-divider><br />
  <mat-divider></mat-divider><br />
  <mat-divider></mat-divider><br />
  <mat-divider></mat-divider><br />
  <mat-divider></mat-divider><br />
  <mat-divider></mat-divider><br />
  <h2>Редактирование продукта</h2>
  <h3>
    <mat-icon color="accent">warning</mat-icon>
    Внимание, редактирование товара доступно только для администратора. Меняйте
    информацию с умом.
  </h3>
  <h4>
    Результаты изменений можно увидеть сразу же в карточке продукта в верхней
    части этой страницы. Чтобы сохранить изменения нажмите кнопку.
  </h4>
  <form [formGroup]="form" (ngSubmit)="sendData()">
    <input type="hidden" formControlName="name" />
    <mat-form-field appearance="outline" *ngIf="getVisible('name')">
      <mat-label>Введите название</mat-label>
      <textarea
        matInput
        matNativeControl
        cdkTextareaAutosize
        formControlName="name"
        #name
        placeholder="Введите название"
        [readonly]="!getEnabled('name')"
      ></textarea>
      @if (name.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('name')"
          (click)="onNameClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end"
        >Введите название {{ name.value.length }}/100</mat-hint
      >
      <mat-error *ngIf="form.get('name')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('name')?.hasError('minlength')"
        >Минимум 2 символа</mat-error
      >
      <mat-error *ngIf="form.get('name')?.hasError('maxlength')"
        >Максимум 100 символов</mat-error
      >
      <mat-error
        *ngIf="
          !form.get('name')?.hasError('minlength') &&
          !form.get('name')?.hasError('maxlength') &&
          form.get('name')?.hasError('pattern')
        "
      >
        Разрешено использование букв, цифр, символов - : () , ! _</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('price')">
      <mat-label>Введите цену (руб.)</mat-label>
      <input
        type="number"
        matNativeControl
        formControlName="price"
        #price
        placeholder="Введите цену (руб.)"
        [readonly]="!getEnabled('price')"
      />
      @if (price.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('price')"
          (click)="onPriceClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end">Введите цену (руб.)</mat-hint>
      <mat-error *ngIf="form.get('price')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('price')?.hasError('min')"
        >Скидка (руб.) должна быть больше 0</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('discount')">
      <mat-label>Введите скидку %</mat-label>
      <input
        type="number"
        matNativeControl
        formControlName="discount"
        #discount
        placeholder="Введите скидку %"
        [readonly]="!getEnabled('discount')"
      />
      @if (discount.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('discount')"
          (click)="onDiscountClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end">Введите скидку %</mat-hint>
      <mat-error *ngIf="form.get('discount')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('discount')?.hasError('max')"
        >Скидка % не может быть больше 99%</mat-error
      >
      <mat-error *ngIf="form.get('discount')?.hasError('min')"
        >Скидка % не может быть меньше 0%</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('isNew')">
      <mat-label>Новинка?</mat-label>
      <input
        style="display: none"
        matNativeControl
        formControlName="isNew"
        [readonly]="!getEnabled('isNew')"
      />
      <mat-checkbox formControlName="isNew" #isNew placeholder="Новинка?"
        >Новинка?</mat-checkbox
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('artikul')">
      <mat-label>Введите артикул</mat-label>
      <input
        matNativeControl
        formControlName="artikul"
        #artikul
        placeholder="Введите артикул"
        [readonly]="!getEnabled('artikul')"
      />
      @if (artikul.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('artikul')"
          (click)="onArtikulClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end"
        >Введите артикул {{ artikul.value.length }}/50</mat-hint
      >
      <mat-error *ngIf="form.get('artikul')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('artikul')?.hasError('minlength')"
        >Минимум 2 символа</mat-error
      >
      <mat-error *ngIf="form.get('artikul')?.hasError('maxlength')"
        >Максимум 10 символов</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('description')">
      <mat-label>Введите описание</mat-label>
      <textarea
        matInput
        matNativeControl
        cdkTextareaAutosize
        formControlName="description"
        #description
        placeholder="Введите описание"
        [readonly]="!getEnabled('description')"
      ></textarea>
      @if (description.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('description')"
          (click)="onDescriptionClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end"
        >Введите описание {{ description.value.length }}/5000</mat-hint
      >
      <mat-error *ngIf="form.get('description')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('description')?.hasError('minlength')"
        >Минимум 2 символа</mat-error
      >
      <mat-error *ngIf="form.get('description')?.hasError('maxlength')"
        >Максимум 5000 символов</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('dopolnitelno')">
      <mat-label>Введите дополнение</mat-label>
      <textarea
        matInput
        matNativeControl
        cdkTextareaAutosize
        formControlName="dopolnitelno"
        #dopolnitelno
        placeholder="Введите дополнение"
        [readonly]="!getEnabled('dopolnitelno')"
      ></textarea>
      @if (dopolnitelno.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('dopolnitelno')"
          (click)="onDopolnitelnoClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end"
        >Введите дополнение {{ dopolnitelno.value.length }}/5000</mat-hint
      >
      <mat-error *ngIf="form.get('dopolnitelno')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('dopolnitelno')?.hasError('minlength')"
        >Минимум 2 символа</mat-error
      >
      <mat-error *ngIf="form.get('dopolnitelno')?.hasError('maxlength')"
        >Максимум 5000 символов</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('url')">
      <mat-label>Введите ссылку на продукт</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        matNativeControl
        formControlName="url"
        #url
        placeholder="Введите ссылку на продукт"
        [readonly]="!getEnabled('url')"
      ></textarea>
      @if (url.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('url')"
          (click)="onUrlClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end"
        >Введите ссылку на продукт {{ url.value.length }}/255</mat-hint
      >
      <mat-error *ngIf="form.get('url')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('url')?.hasError('minlength')"
        >Минимум 2 символа</mat-error
      >
      <mat-error *ngIf="form.get('url')?.hasError('maxlength')"
        >Максимум 255 символов</mat-error
      >
      <mat-error
        *ngIf="
          !form.get('url')?.hasError('minlength') &&
          !form.get('url')?.hasError('maxlength') &&
          form.get('url')?.hasError('pattern')
        "
      >
        Некорректный формат ссылки</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('imageUrl')">
      <mat-label>Введите ссылку на картинку</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        matNativeControl
        formControlName="imageUrl"
        #imageUrl
        placeholder="Введите ссылку на картинку"
        [readonly]="!getEnabled('imageUrl')"
      ></textarea>
      @if (imageUrl.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('imageUrl')"
          (click)="onImageUrlClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end"
        >Введите ссылку на картинку {{ imageUrl.value.length }}/255</mat-hint
      >
      <mat-error *ngIf="form.get('imageUrl')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('imageUrl')?.hasError('minlength')"
        >Минимум 2 символа</mat-error
      >
      <mat-error *ngIf="form.get('imageUrl')?.hasError('maxlength')"
        >Максимум 255 символов</mat-error
      >
      <mat-error
        *ngIf="
          !form.get('imageUrl')?.hasError('minlength') &&
          !form.get('imageUrl')?.hasError('maxlength') &&
          form.get('imageUrl')?.hasError('pattern')
        "
      >
        Некорректный формат ссылки</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('category')">
      <mat-label>Введите категорию</mat-label>
      <input
        matNativeControl
        formControlName="category"
        #category
        placeholder="Введите категорию"
        [readonly]="!getEnabled('category')"
      />
      @if (category.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('category')"
          (click)="onCategoryClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end"
        >Введите категорию {{ category.value.length }}/50</mat-hint
      >
      <mat-error *ngIf="form.get('category')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('category')?.hasError('minlength')"
        >Минимум 2 символа</mat-error
      >
      <mat-error *ngIf="form.get('category')?.hasError('maxlength')"
        >Максимум 50 символов</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('type')">
      <mat-label>Введите тип</mat-label>
      <input
        matNativeControl
        formControlName="type"
        #type
        placeholder="Введите тип"
        [readonly]="!getEnabled('type')"
      />
      @if (type.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('type')"
          (click)="onTypeClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end">Введите тип {{ type.value.length }}/50</mat-hint>
      <mat-error *ngIf="form.get('type')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('type')?.hasError('minlength')"
        >Минимум 2 символа</mat-error
      >
      <mat-error *ngIf="form.get('type')?.hasError('maxlength')"
        >Максимум 50 символов</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('brand')">
      <mat-label>Введите бренд</mat-label>
      <input
        matNativeControl
        formControlName="brand"
        #brand
        placeholder="Введите бренд"
        [readonly]="!getEnabled('brand')"
      />
      @if (brand.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('brand')"
          (click)="onBrandClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end">Введите бренд {{ brand.value.length }}/50</mat-hint>
      <mat-error *ngIf="form.get('brand')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('brand')?.hasError('minlength')"
        >Минимум 2 символа</mat-error
      >
      <mat-error *ngIf="form.get('brand')?.hasError('maxlength')"
        >Максимум 50 символов</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('brandLine')">
      <mat-label>Введите линейку для бренда</mat-label>
      <input
        matNativeControl
        formControlName="brandLine"
        #brandLine
        placeholder="Введите линейку для бренда"
        [readonly]="!getEnabled('brandLine')"
      />
      @if (brandLine.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('brandLine')"
          (click)="onBrandLineClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end"
        >Введите линейку для бренда {{ brandLine.value.length }}/50</mat-hint
      >
      <mat-error *ngIf="form.get('brandLine')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('brandLine')?.hasError('minlength')"
        >Минимум 2 символа</mat-error
      >
      <mat-error *ngIf="form.get('brandLine')?.hasError('maxlength')"
        >Максимум 50 символов</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="getVisible('brandSeries')">
      <mat-label>Введите серию для бренда</mat-label>
      <input
        matNativeControl
        formControlName="brandSeries"
        #brandSeries
        placeholder="Введите серию для бренда"
        [readonly]="!getEnabled('brandSeries')"
      />
      @if (brandSeries.value) {
        <button
          matSuffix
          mat-icon-button
          type="button"
          [disabled]="!getEnabled('brandSeries')"
          (click)="onBrandSeriesClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-hint align="end"
        >Введите серию для бренда {{ brandSeries.value.length }}/50</mat-hint
      >
      <mat-error *ngIf="form.get('brandSeries')?.hasError('required')"
        >Это обязательное поле</mat-error
      >
      <mat-error *ngIf="form.get('brandSeries')?.hasError('minlength')"
        >Минимум 2 символа</mat-error
      >
      <mat-error *ngIf="form.get('brandSeries')?.hasError('maxlength')"
        >Максимум 50 символов</mat-error
      >
    </mat-form-field>

    @if (MainButtonText) {
      <p>{{ MainButtonText }}</p>
    }

    @if (!telegramService.IsTelegramWebAppOpened ) {
      <div class="buy-button pb">
        @if (getVisible("button_submit")) {
          <button
            mat-flat-button
            [disabled]="
              !form.valid || disableButton || !getEnabled('button_submit')
            "
            color="accent"
            type="submit"
          >
            @if (product.id == 0) {
              Отправить в PROКРАСОТУ
            }
            @if (product.id > 0) {
              Обновить данные
            }
          </button>
        }
      </div>
    }
  </form>
}
