<!-- <h2 class="mb">{{title | uppercase }}</h2> 
<h4 class="mb">{{subtitle | uppercase }}</h4> -->



<div class="responsive-grid">    
    @for (product of products; track product.id) {        
        <app-product-icon [product]="product"/>
    }
</div>

<!-- <div class="product-list"> -->
    <!-- @for (product of products; track product.id) {
        
            <app-product-icon [product]="product"/>
        
    } -->
<!-- </div> -->
<!-- <ul class="products">
    @for (product of products; track product.id) {
        <li class="product-item" [routerLink]="'/product/'+product.id">
            <div class="product-image">
                <img [src]="product.imageUrl" alt="product.title">
            </div>
            <div class="product-info">
                <h3>{{product.name}}</h3>
                <p class="hint">{{product.description}}</p>
                <p class="hint">{{product.dopolnitelno}}</p>
            </div>
        </li>
    }
</ul> -->

<!-- @for (product of products; track product.id) { -->
    <!-- <app-product-icon [product]="product"/> -->
<!-- <div class="card">
    @if (product.imageUrl != ''){
        <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="{{ product.name }}" >
    }
    <div class="card-body">
      <h4 class="card-title">{{ product.name }}</h4>
      <p class="card-text">{{ product.price | currency:'RUB':'true' }}</p>
    </div>    
</div> -->

<!-- <mat-card class="product-item" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->
<!-- } -->
