
<mat-card class="product-icon mat-elevation-z5">
  
  @if (product.imageUrl != "") {
   
    <div
      class="product-image-host"
      [routerLink]="'/product/' + product.id + '/' + product.translit"
    >
      <button mat-button disabled>{{ product.brand }}</button>
      <img
        mat-card-image
        [src]="product.imageUrl"
        [alt]="product.name"
        [title]="product.name"
        class="product-image"
      />
    </div>
  }
  <mat-card-content>
    <div class="buy-button">
      @if (product.discount == 0) {
        <button
          mat-button
          [routerLink]="'/product/' + product.id + '/' + product.translit"
        >
          {{ product.price | currency: "RUB" : "symbol-narrow" }}
        </button>
      }
      @if (product.discount > 0) {
        <button
          mat-button
          matBadge="%"
          matBadgeSize="large"
          matBadgePosition="after"
          matBadgeColor="accent"
          [routerLink]="'/product/' + product.id + '/' + product.translit"
        >
          <s>{{ product.price | currency: "RUB" : "symbol-narrow" }}</s>
          {{
            (product.price / 100) * (100 - product.discount)
              | currency: "RUB" : "symbol-narrow"
          }}
        </button>
      }
    </div>

    @if (product.name != "") {
      <div
        class="mat-typography"
        [routerLink]="'/product/' + product.id + '/' + product.translit"
      >
        
        {{
          (product.name | slice: 0 : 60) +
            (product.name.length > 60 ? "..." : "")
        }}
      </div>
    }

    
  </mat-card-content>
  <div class="flex-fill"></div>
  <mat-card-actions>
    @if (isInCart(product)) {
      <div class="buy-button-x3">
        <button mat-icon-button (click)="removeItem()">
          <mat-icon>remove</mat-icon>
        </button> 
        <button mat-icon-button routerLink="/cart">
          @if(quantityInCart(product) > 0){
            <mat-icon
              [attr.aria-hidden]="false" aria-hidden="false"
              matBadgeColor="accent"
              [matBadge]="quantityInCart(product)"
              >shopping_cart</mat-icon>
          }
          @if(quantityInCart(product) == 0){
            <mat-icon>shopping_cart</mat-icon>
          }
        </button>        
        <button mat-icon-button color="accent" (click)="addItem()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    }
    @if (!isInCart(product)) {
      <div class="buy-button">
        <button mat-flat-button color="primary" (click)="addItem()">
          В корзину
        </button>
      </div>
    }

    
  </mat-card-actions>
</mat-card>
