@if (!imageHTMLTagId){
    <input type="file" (change)="fileChangeEvent($event)" />
}

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [resizeToWidth]="resizeToWidth" 
    [maintainAspectRatio]="maintainAspectRatio"
    [containWithinAspectRatio]="containWithinAspectRatio"
    [aspectRatio]="aspectRatio"
    [cropperMinWidth]="cropperMinWidth"
    [onlyScaleDown]="onlyScaleDown"
    [roundCropper]="roundCropper"
    [alignImage]="'center'"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>

        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img [src]="croppedImage" />
    </mat-card-content>
</mat-card>


