<mat-card class="mb">
  <mat-card-header>
    <mat-card-title>Контактная информация</mat-card-title>
    <mat-card-subtitle
      >С магазином {{ owner.marketName }} можно связаться любым из указанных
      способов</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      @if (owner.phoneLink) {
        <a mat-list-item [href]="'tel:+7' + owner.phoneLink" target="_blank">
          <mat-icon matListItemIcon>phonelink_ring</mat-icon>
          <span matListItemTitle>Позвонить</span>
          <span matListItemLine>{{ owner.phoneText }}</span>
        </a>
      }
      @if (owner.telegram) {
        <a
          mat-list-item
          [href]="'https://t.me/' + owner.telegram"
          target="_blank"
        >
          <mat-icon matListItemIcon>chat</mat-icon>
          <span matListItemTitle>Написать в Telegram</span>
          <span matListItemLine>&#64;{{ owner.telegram }}</span>
        </a>
      }
      @if (owner.whatsapp) {
        <a
          mat-list-item
          [href]="
            'https://wa.me/7' +
            owner.phoneLink +
            '?text=Здравствуйте,%20' +
            owner.marketName
          "
          target="_blank"
        >
          <mat-icon matListItemIcon>chat</mat-icon>
          <span matListItemTitle>Написать в WhatsApp</span>
          <span matListItemLine>{{ owner.phoneText }}</span>
        </a>
      }
      @if (owner.yandexMapText) {
        <a
          mat-list-item
          [href]="'https://yandex.ru/maps/?text=' + owner.yandexMapText"
          target="_blank"
        >
          <mat-icon matListItemIcon>location_on</mat-icon>
          <span matListItemTitle>{{ owner.marketName }} на карте</span>
          <span class="no-wrap">{{ owner.yandexMapText }}</span>
        </a>
      }
      <!-- @if (owner.telegramBot) {
        <a mat-list-item [href]="owner.startBotUrl" target="_blank">
          <mat-icon matListItemIcon>touch_app</mat-icon>
          <span matListItemTitle>Запустить Telegram бота</span>
          <span matListItemLine>&#64;{{ owner.telegramBot }}</span>
        </a>
      } -->
      @if (owner.vkLink) {
        <a mat-list-item [href]="owner.vkLink" target="_blank">
          <mat-icon matListItemIcon>public</mat-icon>
          <span matListItemTitle>Сообщество в Контакте</span>
          <span matListItemLine>{{ owner.vkLink }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-card-content>
</mat-card>
