<div class="loading-indicator">
  <mat-progress-spinner
    mode="indeterminate"
    value="50"
    *ngIf="spinnerService.visibility | async"
  >
  </mat-progress-spinner>
</div>

<!-- <h1>{{title | uppercase }}</h1>
<button routerLink="/">
    <span class="lead">{{title | uppercase }}</span>
  </button> -->
<!-- <button (click)="title = 'new '+title">Change Title</button>
<button routerLink="/shop">
   <span>Home</span>
</button>

<ul>
    @for (item of items; track $index) {
        <li>{{item}}</li>
    }

    @if (title === 'new Angular'){
        <hr/>
    }
</ul> -->
<app-main-nav></app-main-nav>


