.category-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  white-space: normal;
  cursor: pointer;
  height: 100%;
}

// mat-card {
//   border-radius: 0px !important;
// }
