<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1>
    <a routerLink="/">
      <div class="logo">
        <img src="./assets/img/logo.png" alt="" />
      </div>
    </a>
  </h1>

  <span class="spacer"></span>

  <button mat-icon-button routerLink="/cart">
    @if(cartService.$cart()!.totalCount > 0){
      <mat-icon
        [attr.aria-hidden]="false" aria-hidden="false"
        matBadgeColor="accent"
        [matBadge]="cartService.$cart()!.totalCount"
        >shopping_cart</mat-icon>
    }
    
    @if(cartService.$cart()!.totalCount == 0){
      <mat-icon>shopping_cart</mat-icon>
    }
  </button>

  <button mat-icon-button (click)="onThemeChange($event)">
    <mat-icon>format_color_fill</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container fullscreen>
  <mat-sidenav
    [ngClass]="!isCollapsed ? 'expanded' : ''"
    mode="over"
    opened="false"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/shop" (click)="toggleMenu()">
        <span class="entry">
          <mat-icon>home</mat-icon>
          @if (!isCollapsed) {
            <span>На главную</span>
          }
        </span>
      </a>
    </mat-nav-list>
    <!-- @if (!isCollapsed) { -->
      <mat-accordion>      

        @for (
          category of productsService.$productCategoriesMenuTree();
          track $index
        ) {
          <mat-expansion-panel
            [expanded]="step() === $index"
            (opened)="setStep($index)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ category.name | uppercase }}
              </mat-panel-title>
              <!-- <mat-panel-description> This is a summary of the content </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-nav-list>
              @for (
                typeProduct of productsService.$productTypesMenuTree();
                track $index
              ) {
                @if (typeProduct.category.translit == category.translit) {
                  <a
                    mat-list-item
                    [routerLink]="
                      '/shop/' +
                      typeProduct.category.translit +
                      '/' +
                      typeProduct.translit
                    "
                    (click)="toggleMenu()"
                  >
                    {{ typeProduct.name | lowercase }}
                  </a>
                }
              }
            </mat-nav-list>
          </mat-expansion-panel>
        }
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              О КОМПАНИИ
            </mat-panel-title>          
          </mat-expansion-panel-header>
          <mat-nav-list>            
            <a mat-list-item routerLink="/company/about" (click)="toggleMenu()">
              <span class="entry">
                <mat-icon>face</mat-icon>
                @if (!isCollapsed) {
                  <span>О нас</span>
                }
              </span>
            </a>
            <!-- <a mat-list-item routerLink="/company/requisites" (click)="toggleMenu()">
              <span class="entry">
                <mat-icon>assignment</mat-icon>
                @if (!isCollapsed) {
                  <span>Наши реквизиты</span>
                }
              </span>
            </a> -->
            <a mat-list-item routerLink="/company/contacts" (click)="toggleMenu()">
              <span class="entry">
                <mat-icon>contacts</mat-icon>
                @if (!isCollapsed) {
                  <span>Контакты</span>
                }
              </span>
            </a>
            <a mat-list-item routerLink="/company/privacy" (click)="toggleMenu()">
              <span class="entry">
                <mat-icon>security</mat-icon>
                @if (!isCollapsed) {
                  <span>Политика конф.</span>
                }
              </span>
            </a>
          </mat-nav-list>
  
        </mat-expansion-panel>
      </mat-accordion>
    <!-- } -->

    

    @if (
      cartService.$cart()!.totalAmount > 0 &&
      cartService.$cart()!.totalCount > 0
    ) {
      <mat-nav-list>
        <a mat-list-item (click)="toggleMenu()" routerLink="/cart">
          <span class="entry">
            <mat-icon>shopping_cart</mat-icon>
            @if (!isCollapsed) {
              <span
                >{{ cartService.$cart()!.totalCount }} ед. на
                {{
                  cartService.$cart()!.totalAmount
                    | currency: "RUB" : "symbol-narrow"
                }}</span
              >
            }
          </span>
        </a>
      </mat-nav-list>
    }

    <mat-nav-list>
    @if (
      cartService.$cart()!.totalAmount == 0 ||
      cartService.$cart()!.totalCount == 0
    ) {
      
        <a mat-list-item (click)="toggleMenu()" routerLink="/cart">
          <span class="entry">
            <mat-icon>shopping_cart</mat-icon>
            @if (!isCollapsed) {
              <span>В корзине пусто</span>
            }
          </span>
        </a>
    }
      <a mat-list-item (click)="toggleMenu()" routerLink="/orders">
        <span class="entry">
          <mat-icon>history</mat-icon>
          <span>История заказов</span>
        </span>
      </a>

      @if(owner.phoneLink){
        <a mat-list-item (click)="toggleMenu()" [href]="'tel:+7'+owner.phoneLink" target="_blank">
          <span class="entry">
            <mat-icon>phonelink_ring</mat-icon>
            <span>{{owner.phoneText}}</span>
          </span>
        </a>
      }

      <a mat-list-item (click)="toggleMenu()" routerLink="/feedback">
        <span class="entry">
          <mat-icon>message</mat-icon>
          <span>Обратная связь</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="top"></div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
