<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1>
    <a routerLink="/">
      <div class="logo">
        <img src="./assets/img/logo.png" alt="" />
      </div>
    </a>
  </h1>

  <span class="spacer"></span>

  <button mat-icon-button routerLink="/cart">
    @if(cartService.$cart()!.totalCount > 0){
      <mat-icon
        [attr.aria-hidden]="false" aria-hidden="false"
        matBadgeColor="accent"
        [matBadge]="cartService.$cart()!.totalCount"
        >shopping_cart</mat-icon>
    }
    
    @if(cartService.$cart()!.totalCount == 0){
      <mat-icon>shopping_cart</mat-icon>
    }
  </button>

  <button mat-icon-button (click)="onThemeChange($event)">
    <mat-icon>format_color_fill</mat-icon>
  </button>

  <!-- @if (!isMobile) {
    
    <mat-slide-toggle
      (change)="onThemeChange($event)"
      [checked]="_themeSwitchService.isDarkThemeActive.value"
    >
      <mat-icon>palette</mat-icon>
      <span>Цвет</span>
    </mat-slide-toggle>
  }
  @if (isMobile) {
    <button mat-icon-button (click)="onThemeChange($event)">
      <mat-icon>palette</mat-icon>
    </button>
    <mat-slide-toggle
      (change)="onThemeChange($event)"
      [checked]="_themeSwitchService.isDarkThemeActive.value"
    >
      <mat-icon>palette</mat-icon>
    </mat-slide-toggle>
  } -->
</mat-toolbar>

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>apps</mat-icon>
    </button>
    <button mat-button routerLink="/">
      <div class="logo">
        <img src="./assets/img/logo.png" alt="" />
      </div>
    </button>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav >
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="mat-elevation-z8">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-sidenav-container fullscreen>
  <!-- <mat-sidenav
    [ngClass]="!isCollapsed ? 'expanded' : ''"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'"
  > -->
  <mat-sidenav
    [ngClass]="!isCollapsed ? 'expanded' : ''"
    mode="over"
    opened="false"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/shop" (click)="toggleMenu()">
        <span class="entry">
          <mat-icon>home</mat-icon>
          @if (!isCollapsed) {
            <span>На главную</span>
          }
        </span>
      </a>
    </mat-nav-list>
    <!-- @if (!isCollapsed) { -->
      <mat-accordion>      

        @for (
          category of productsService.$productCategoriesMenuTree();
          track $index
        ) {
          <mat-expansion-panel
            [expanded]="step() === $index"
            (opened)="setStep($index)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ category.name | uppercase }}
              </mat-panel-title>
              <!-- <mat-panel-description> This is a summary of the content </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-nav-list>
              @for (
                typeProduct of productsService.$productTypesMenuTree();
                track $index
              ) {
                @if (typeProduct.category.translit == category.translit) {
                  <a
                    mat-list-item
                    [routerLink]="
                      '/shop/' +
                      typeProduct.category.translit +
                      '/' +
                      typeProduct.translit
                    "
                    (click)="toggleMenu()"
                  >
                    {{ typeProduct.name | lowercase }}
                  </a>
                }
              }
            </mat-nav-list>
          </mat-expansion-panel>
        }
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              О КОМПАНИИ
            </mat-panel-title>          
          </mat-expansion-panel-header>
          <mat-nav-list>            
            <a mat-list-item routerLink="/company/about" (click)="toggleMenu()">
              <span class="entry">
                <mat-icon>face</mat-icon>
                @if (!isCollapsed) {
                  <span>О нас</span>
                }
              </span>
            </a>
            <a mat-list-item routerLink="/company/requisites" (click)="toggleMenu()">
              <span class="entry">
                <mat-icon>assignment</mat-icon>
                @if (!isCollapsed) {
                  <span>Наши реквизиты</span>
                }
              </span>
            </a>
            <a mat-list-item routerLink="/company/contacts" (click)="toggleMenu()">
              <span class="entry">
                <mat-icon>contacts</mat-icon>
                @if (!isCollapsed) {
                  <span>Контакты</span>
                }
              </span>
            </a>
            <a mat-list-item routerLink="/company/privacy" (click)="toggleMenu()">
              <span class="entry">
                <mat-icon>security</mat-icon>
                @if (!isCollapsed) {
                  <span>Политика конф.</span>
                }
              </span>
            </a>
          </mat-nav-list>
  
        </mat-expansion-panel>
      </mat-accordion>
    <!-- } -->

    

    @if (
      cartService.$cart()!.totalAmount > 0 &&
      cartService.$cart()!.totalCount > 0
    ) {
      <mat-nav-list>
        <a mat-list-item (click)="toggleMenu()" routerLink="/cart">
          <span class="entry">
            <mat-icon>shopping_cart</mat-icon>
            @if (!isCollapsed) {
              <span
                >{{ cartService.$cart()!.totalCount }} ед. на
                {{
                  cartService.$cart()!.totalAmount
                    | currency: "RUB" : "symbol-narrow"
                }}</span
              >
            }
          </span>
        </a>
      </mat-nav-list>
    }

    <mat-nav-list>
    @if (
      cartService.$cart()!.totalAmount == 0 ||
      cartService.$cart()!.totalCount == 0
    ) {
      
        <a mat-list-item (click)="toggleMenu()" routerLink="/cart">
          <span class="entry">
            <mat-icon>shopping_cart</mat-icon>
            @if (!isCollapsed) {
              <span>В корзине пусто</span>
            }
          </span>
        </a>
    }
      <a mat-list-item (click)="toggleMenu()" routerLink="/orders">
        <span class="entry">
          <mat-icon>history</mat-icon>
          <span>История заказов</span>
        </span>
      </a>

      <a mat-list-item (click)="toggleMenu()" routerLink="/feedback">
        <span class="entry">
          <mat-icon>message</mat-icon>
          <span>Связь с PROКРАСОТУ</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <h2>Content</h2> -->
    <div class="container">
      <router-outlet></router-outlet>

      <!-- @if (isProductView()){
          <mat-toolbar color="primary" class="sticky-footer">
            <mat-toolbar-row>
              <button mat-icon-button aria-label="Menu icon">
                <mat-icon>arrow_back_ios</mat-icon>
              </button>
        
              <span class="spacer"></span>
              <button mat-button>
                <mat-icon>add</mat-icon>
              </button>
              <button mat-button>1</button>
              <button mat-button>
                <mat-icon>remove</mat-icon>
              </button>
              <button mat-button>
                <mat-icon>shopping_basket</mat-icon> В корзину
              </button>
            </mat-toolbar-row>
          </mat-toolbar>
        
          } -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
