<mat-chip-listbox>
  <mat-chip highlighted (click)="goBack()">Вернуться назад</mat-chip>
</mat-chip-listbox>

<h2 class="mb">Корзина</h2>

@if (cartService.$cart()!.totalCount > 0) {
  <h3 class="mb">
    В корзине {{ cartService.$cart()!.totalCount }} шт. на
    {{ cartService.$cart()!.totalAmount | currency: "RUB" : "symbol-narrow" }}
  </h3>

  <mat-checkbox checked="true" (change)="changeAllItems($event.checked)">Выделить все</mat-checkbox>
  @for (cartItem of cartService.$cart()!.items; track $index) {
    <app-cart-item [cartItem]="cartItem" />
  }

  @if (!telegramService.IsTelegramWebAppOpened){
  <div class="buy-button pb">    
      <button mat-flat-button  color="accent" (click)="sendData()">
        Оформить заказ в PROКРАСОТУ
      </button>
  </div>

  
}
 
<mat-chip-listbox>
  <mat-chip highlighted (click)="goBack()">Вернуться назад</mat-chip>
</mat-chip-listbox>


}

@if (cartService.$cart()!.totalCount == 0) {
  <h3 class="mb">Ваша корзина пуста</h3>
  
}
