<app-contacts-list></app-contacts-list>

<h2 class="mb">QR код для открытия Telegram бота</h2>
<div class="qrcodeImage centered">
  <qrcode
    [qrdata]="owner.startBotUrl"
    [allowEmptyString]="true"
    [ariaLabel]="owner.marketName"
    [cssClass]="'centered'"
    [colorDark]="'#000000ff'"
    [colorLight]="'#ffffffff'"
    [elementType]="'canvas'"
    [errorCorrectionLevel]="'M'"
    [imageSrc]="'./assets/img/logo75x75.png'"
    [imageHeight]="75"
    [imageWidth]="75"
    [margin]="4"
    [scale]="1"
    [title]="owner.marketName"
    [width]="300"
  ></qrcode>
</div>

<mat-chip-listbox>
  <mat-chip highlighted (click)="goBack()">Вернуться назад</mat-chip>
</mat-chip-listbox>
