@import url("https://fonts.googleapis.com/css2?family=Inter&family=Titillium+Web&display=swap");

:root{
    --main-padding: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a {
    color: var(--tg-theme-link-color);
}

button{
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.mb{
    margin-bottom: var(--main-padding);
}

.hint{
    color: var(--tg-theme-hint-color);
    font-size: 0.8rem;
}

hr{
    color: var(--tg-theme-hint-color);
    margin-bottom: var(--main-padding);
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    height: 70vh;
    justify-content: center;
}

.form-control{
    width: 100%;
    height: 60px;
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    resize: none;
    font-family: inherit;
    padding: 8px;
    border-radius: 10px;
}

.products{
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-item{
    overflow: hidden;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.25);
    border-radius: 10px;
    margin-bottom: var(--main-padding);
    cursor: pointer;
    max-width: 400px;
    white-space: pre-wrap;//заменяет '\n' на <br>
}

.product-image{
    display: flex;
    justify-content: center;
    background: var(--tg-theme-secondary-bg-color);
    text-align: center;
}

.product-image img{
    display: block;
    padding: 10px;
}

.product-info{
    padding: var(--main-padding);
}
html, body { height: 100%; }
body { 
    margin: 0; 
    padding: var(--main-padding);
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: 
    Roboto, "Helvetica Neue", sans-serif; 
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
// body{
//     font-size: 14px;
//     padding: var(--main-padding);
//     font-family: "Inter", sans-serif;
//     background: var(--tg-theme-bg-color);
//     color: var(--tg-theme-text-color);
// }