<mat-dialog-content>


    <mat-card appearance="outlined" class="mb">
      <mat-card-header>
        <mat-card-title>
          <h2>Соглашение на обработку персональных данных</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <p>
            Настоящим в соответствии с требованиями Федерального закона от 27.07.2006.
            №152-ФЗ «О персональных данных» Вы подтверждаете свое согласие на обработку
            {{ owner.form }} {{ owner.name }} персональных данных: сбор, систематизацию,
            накопление, хранение, уточнение (обновление, изменение), использование,
            юлокирование, обезличивание, уничтожение, в частности, отправку информационных
            сообщений посредством телеграм бота {{ owner.telegramBot }}.
          </p>
          <p>
            {{ owner.form }} {{ owner.name }} гарантирует конфиденциальность получаемой
            информации. Обработка персональных данных осуществляется в целях эффективного
            исполнения заказов, договоров и иных обязательств, принятых {{ owner.form }}
            {{ owner.name }} в качестве обязательных к исполнению.
          </p>
          <p>
            Настоящее согласие распространяется на следующие Ваши персональные данные:
            фамилия, имя, отчество, почтовый адрес доставки заказов, контактный телефон.
          </p>
          <p>
            Соглашение действительно до полного исполнения обязательств перед клиентом или
            до ликвидации {{ owner.form }} {{ owner.name }}, но не более 5 лет с момента
            подтверждения согласия. Вы можете в любой момент отозвать настоящее согласие,
            на обработку персональных данных, направив Оператору уведомление посредством
            телеграм бота {{ owner.telegramBot }} с пометкой «Отзыв согласия на обработку
            персональных данных».
          </p>
          <p>
            Обращаем ваше внимание, что отзыв согласия на обработку персональных данных
            влечет за собой уничтожение записей, содержащих данные в системах обработки
            персональных данных {{ owner.form }} {{ owner.name }}, что может сделать
            невозможным использование телеграм бота {{ owner.telegramBot }}
          </p>
          <p>
            Гарантирую, что предоставленная мной информация является полной, точной и
            достоверной, а также, что при предоставлении информации не нарушается
            действующее законодательство Российской Федерации, законные права и интересы
            третьих лиц. Вся информация заполнена мной в отношении себя лично.
          </p>
          <p>
            Настоящее согласие действует в течение всего периода хранения персональных
            данных, если иное не предусмотрено законодательством Российской Федерации.
          </p>
      </mat-card-content>
    </mat-card>
    
    <!-- <mat-chip-listbox>
      <mat-chip highlighted (click)="goBack()">Вернуться назад</mat-chip>
    </mat-chip-listbox> -->

</mat-dialog-content>    
